@charset "UTF-8";

 
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-vimeo:before { content: '\f27d'; } /* '' */
.icon-user:before { content: '👤'; } /* '\1f464' */